<div class="container d-flex justify-content-center p-5">
<div class="row align-items-center">
    <div class="col col-12 m-3  border border-secondary border-end-0 border-top-0 border-bottom-0">
      <%= params[:question] %>
      <%= "- You" %>
    </div>
    <div class="col col-12 m-3 border border-secondary border-end-0 border-top-0 border-bottom-0 bg-gray-200">
      <%= @answer %>
      <%= "- Your Coach" %>
    </div>
    <div class="col col-12 m-3 link-success">
      <%= link_to "Ask another question", ask_path %>
    </div>
   </div>
</div>
